@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {

    li {
        padding: 0px 30px;
    }

    .bg-img-main {
        background: url(./images/cover_bg_1.jpg);
    }

    .bg-img-bus {
        background: url(./images/bg-img-bus.jpg);
    }

    .bg-img-flight{
        background: url(./images/bg-img-flight.jpg);
    }

.bg-img-hotel{
    background: url(./images/bg-img-hotel.jpg);
}

    .bg-img {
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .max-w-50 {
        max-width: 50%;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 30px;
        margin-top: 20px;
    }

    .form-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .form-input-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-input {
        width: 100%;
        border-radius: 4px;
    }

    .form-input-submit {
        cursor: pointer;
        border-radius: 4px;
        font-size: 0.9rem;
        transition: all 0.25s ease-out;
    }

    .form-input-submit:hover {
        opacity: 0.85;
    }

    .col-span-2 {
        grid-column: span 2 / span 2;
    }

    .steps{
        display: flex;
        width: 100%;
        /* flex-direction: row; */
        align-items: center;
        font-weight: 800;
        padding-left: 20px;
    }

    .steps:hover{
        background-color: slategray ;
        border-radius: 8px;
    }

    .min-w-self{
        min-width: 300px;
    }

    .min-h-self{
        min-height: 65px;
    }

    .seat{
        background-color: rgb(203 213 225 1);
        border-radius: 9999px;
    }

    .seat:hover{
        background-color: rgb(129 140 248 1);
    }
    
}