{% extends "card.html" %}

{% block title %}Change Password{% endblock %}
{% block heading %}Hi {{ user.first_name|default:user.username }}, change your password{% endblock %}

{% block card %}
<form method="POST" class="flex flex-col gap-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}{% include "_field.html" %}{% endfor %}
    <div class="flex gap-3 mt-2">
        <a href="{% url 'change_profile' %}" class="btn-secondary flex-1">Back to Profile</a>
        <button type="submit" class="btn-primary flex-1">Change Password</button>
    </div>
</form>
{% endblock %}
