{% extends "card.html" %}

{% block title %}Register{% endblock %}
{% block heading %}Create an Account{% endblock %}

{% block card %}
<form method="POST" class="flex flex-col gap-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}{% include "_field.html" %}{% endfor %}
    <button type="submit" class="btn-primary mt-2">Register</button>
    <p class="text-sm">Already have an account? <a class="underline" href="{% url 'log_in' %}">Log in</a></p>
</form>
{% endblock %}
