{% extends "layout.html" %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block body_class %}bg-img-about-us{% endblock %}

{% block content %}
<section class="mx-auto max-w-6xl px-4 py-10">
    <div class="pl-4 mb-6 border-l-4 border-cyan-500">
        <h1 class="mt-2 text-3xl font-black text-gray-100">About Us</h1>
    </div>
    <p class="mb-12 text-lg leading-7 text-slate-100 font-semibold max-w-3xl">
        Embark on a voyage of discovery with JetSet Journey and let the world become your storybook. Whether you seek
        relaxation on pristine beaches, cultural immersion in bustling cities, or adrenaline-fueled adventures in exotic
        landscapes, we are here to make your travel dreams a reality.
    </p>

    <h2 class="text-2xl font-black text-gray-100 mb-6">The Team</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        {% include "_team_member.html" with name="Ali" image="img/about-us-ali.jpg" role="Worked on the back-end and integration of the project" %}
        {% include "_team_member.html" with name="Athar" image="img/about-us-athar.jpg" role="Worked on the database and integration of the project" %}
        {% include "_team_member.html" with name="Farhan" image="img/about-us-farhan.jpg" role="Worked on the front-end of the project" %}
    </div>
</section>
{% endblock %}
