{% extends "templates/base.html" %}
{% block body %}
<h1 class="text-center mt-4">All Users</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr><th>Username</th><th>Name</th><th>Email</th><th>Phone</th><th>City</th><th>Country</th><th>Address</th></tr>
        </thead>
        <tbody>
        {% for info in all_users_info %}
            <tr>
                <td>{{ info.user.username }}</td>
                <td>{{ info.user.first_name }} {{ info.user.last_name }}</td>
                <td>{{ info.user.email }}</td>
                <td>{{ info.phone_no|default:"" }}</td>
                <td>{{ info.city }}</td>
                <td>{{ info.country }}</td>
                <td>{{ info.address }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="7">No user profiles yet.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
