{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <title>Login</title>
</head>
<body>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
    <div class="main-container">
        <div class="container">
            <div class="heading">
                <h1>Login</h1>
            </div>
            <form class="form-grid" method="POST" action="{% url 'log_in' %}">
              {% csrf_token %}
                <div class="form-input-container">
                    <label for="email" class="form-input-label">Username</label>
                    <input type="input" id="email" name="username" class="form-input" placeholder="Enter your Username" autocomplete="off">
                </div>
                <div class="form-input-container">
                    <label for="password" class="form-input-label">Password</label>
                    <input type="password" id="password" name="password" class="form-input" placeholder="Enter your Password"
                        minlength="6" autocomplete="off">
                </div>
                <button type="submit" class="form-input-submit col-span-2" value="Register">Log In</button>
                <div class="to-signup-page col-span-2">
                    <p>Don't have an account? Click here to <a href="{% url 'register' %}">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

{% endblock body %}
