{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <title>Payment</title>
</head>

<body>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
    <div class="main-container">
        <div class="container">
            <div class="heading">
                <h1>Payment</h1>
            </div>
            <form class="form-grid" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="form-input-submit col-span-2">Confirm Booking</button>
                <div class="to-login-page col-span-2">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
{% endblock body %}