{% block body %}
{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Base</title>
</head>

<body class="bg-img-hotel bg-img bg-cover bg-bottom">
    <div class="bg-black bg-opacity-30">
        <header
            class="bg-gradient-to-b from-slate-100 via-white to-transparent opacity-90 text-xl font-serif font-bold -mt-7">
            <nav class="mx-auto flex max-w-7xl items-center justify-between px-2 pt-2  lg:px-8" aria-label="Global">
                <div class="-mb-4">
                  <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-20 w-auto" src="{% static 'logo2.png' %}" alt="">
                  </a>
                </div>
                <div class="pt-4">
                  <ul class="flex justify-around items-center px-4">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'search' %}">Hotels</a></li>
                    <li><a href="{% url 'search_flights'%}">Flights</a></li>
                    <li><a href="{% url 'search_buses' %}">Bus</a></li>
                    <li><a href="{% url 'aboutus' %}">About Us</a></li>
                  </ul>
                </div>
                {% if user.is_authenticated %}
                <a class="pt-4" href="{% url 'log_out' %}">
                  Log Out
                </a>
                {% else %}
                <a class="pt-4" href="{% url 'log_in' %}">
                  Log In
                </a>
                {% endif %}
              </nav>
        </header>
        <div class="flex text-4xl justify-center items-center h-56 text-white font-extrabold">
            <h1 class="">
                Travel the World with Jet-Set Journey
            </h1>
        </div>
        <div class="flex items-center justify-center flex-col">
            <h4 class=" text-white text-center mb-4 font-black text-3xl">Choose Your Travel Destination</h4>
            <div class="bg-white px-10 py-6 rounded-md shadow-2xl w-3/4 flex flex-row min-h-96">
              <div class="w-1/3 bg-slate-500 mr-10 rounded-lg flex flex-col items-center text-white">
                  <div class="steps h-1/4">
                      <h2 class="rounded-full px-2 border-white border-2">1</h2>
                      <p class="steps-p ml-4 pr-3">Hotels Information</p>
                  </div>
                  <div class="steps h-1/4">
                      <h2 class="rounded-full px-2 border-white border-2">2</h2>
                      <p class="steps-p ml-4">Available Hotels</p>
                  </div>
                  <div class="steps  h-1/4">
                      <h2 class="rounded-full px-2 border-white border-2">3</h2>
                      <p class="steps-p ml-4">Suite Selection</p>
                  </div>
                  <div class="steps  h-1/4">
                      <h2 class="rounded-full px-2 border-white border-2">4</h2>
                      <p class="steps-p ml-4">Summary</p>
                  </div>
              </div>
            <div class="bg-white px-10 py-6 rounded-md shadow-2xl w-3/4 flex flex-row">

                <div class="overflow-x-auto flex w-full py-4">
                  {% if count <= 0 %}
                  <h1 class = "text-center p-10 font-bold text-4xl" >There are no hotels. Please change your fields</h1>
                  {% else %}
                  {% for hotel in hotels %}
                  <div class="cursor-pointer rounded-xl bg-white shadow-lg border-gray-200 hover:shadow-xl min-w-self ml-2">
                      <div class="relative flex items-end overflow-hidden rounded-xl">
                          <img class="w-full h-48" src="https://thumbnails.production.thenounproject.com/gA9eZOvsBYSHrMumgrslmRGoBto=/fit-in/1000x1000/photos.production.thenounproject.com/photos/BCBA88B6-5B41-4B50-A786-E60CAA0ECDA3.jpg"
                              alt="wallpaper" />
                      </div>
                      <div class="mt-1 p-2">
                          <h2 class="text-slate-700">{{ hotel.name }}</h2>
                          <p class="my-1 text-sm text-slate-400">{{ city_country }}</p>
                          {% with hotel_services=services|get_value_from_key:hotel.hotelid %}
                              {% if hotel_services %}
                                  {% for service in hotel_services %}
                                      <div class="text-xs p-1 border-t-0 border-b-2 border-gray-200">
                                          {{ service }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                          {% endwith %}
                          {% if user.is_authenticated == False %}
                            <p>Note: You must be logged in to book hotel</p>
                            {% else %}
                            <a href="{% url 'booking' id=hotel.hotelid%}">
                                <button class="bg-slate-500 hover:bg-slate-600 text-white px-4 py-2 rounded-md mt-2">Book Now</button>
                            </a>
                            {% endif %}
                      </div>
                  </div>
              {% endfor %}
              
                    {% endif %}
                </div>
          </div>
        </div>
        <div class="flex text-4xl mt-16 justify-center items-center font-extrabold text-gray-100 mb-5">
          <h1 class="bg-black bg-opacity-60 px-4 py-2 pb-4 shadow-2xl ">Weather in {{city_country}}</h1>
      </div>
      <div class="flex flex-row overflow-x-auto py-4 justify-center">
          <div
              class="cursor-pointer rounded-xl bg-white shadow-lg border-gray-200 hover:shadow-xl min-w-self ml-2 w-1/3">
              <a href="#">
                  <div class="relative flex items-end overflow-hidden rounded-xl">
                      <img class="w-full h-48" src="{{weather_data.current.condition.icon}}" alt="wallpaper" />
                  </div>
                  <div class="mt-1 p-2">
                      <h2 class="text-slate-800 font-serif font-bold">{{weather_data.current.condition.text}}</h2>

                      <div class="text-xs p-1 border-t-2 border-b-2 border-gray-200">
                        Temperature: {{weather_data.current.temp_c}} C
                      </div>
                      <div class="text-xs p-1 border-t-0 border-b-2 border-gray-200">
                        Humidity: {{weather_data.current.humidity}} %
                      </div>
                  </div>
              </a>
          </div>
      </div>
        <div>
            <div class="flex text-4xl mt-16 justify-center items-center font-extrabold text-gray-100 mb-5">
                <h1 class="bg-black bg-opacity-60 px-4 py-2 pb-4 shadow-2xl ">Popular Hotels in Pakistan</h1>
            </div>
            <div class="flex justify-center items-center h-full">
                <div class="grid grid-cols-3 gap-8 px-6 w-3/4">
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="../static/images/pc-hotel.jpeg" alt="Image 1" class="w-full h-auto">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>Pearl Continental</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="../static/images/ramada-hotel.jpg" alt="Image 1"
                                class="w-full h-auto scale-110 mt-3 ">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>Ramada Hotel</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="../static/images/serene-hotel.jpeg" alt="Image 1" class="w-full h-auto">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>Serena Hotel</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-black bg-opacity-70 text-slate-200 py-4 mt-5 flex justify-center items-center font-mono">
            <a href="" class="cursor-pointer">Jet-Set Journey</a>
        </footer>

</body>

</html>
{% endblock body %}