{% block body %}
{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Base</title>
</head>

<body class="bg-img-flight bg-img bg-cover bg-bottom">
    <div class="bg-black bg-opacity-30">
        <header
            class="bg-gradient-to-b from-slate-100 via-white to-transparent opacity-90 text-xl font-serif font-bold -mt-7">
            <nav class="mx-auto flex max-w-7xl items-center justify-between px-2 pt-2  lg:px-8" aria-label="Global">
                <div class="-mb-4">
                  <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-20 w-auto" src="{% static 'logo2.png' %}" alt="">
                  </a>
                </div>
                <div class="pt-4">
                  <ul class="flex justify-around items-center px-4">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'search' %}">Hotels</a></li>
                    <li><a href="{% url 'search_flights'%}">Flights</a></li>
                    <li><a href="{% url 'search_buses' %}">Bus</a></li>
                    <li><a href="">About Us</a></li>
                  </ul>
                </div>
                {% if user.is_authenticated %}
                <a class="pt-4" href="{% url 'log_out' %}">
                  Log Out
                </a>
                {% else %}
                <a class="pt-4" href="{% url 'log_in' %}">
                  Log In
                </a>
                {% endif %}
              </nav>
        </header>
        <div class="flex text-4xl justify-center items-center h-56 text-white font-extrabold">
            <h1 class="">
                Travel the World with Jet-Set Journey
            </h1>
        </div>
        <div class="flex items-center justify-center flex-col">
            <h4 class=" text-white text-center mb-4 font-black text-3xl">Choose Your Travel Destination</h4>
            <div class="bg-white px-10 py-6 rounded-md shadow-2xl w-3/4 flex flex-row min-h-96">
                <div class="w-1/3 bg-slate-500 mr-10 rounded-lg flex flex-col items-center text-white">
                    <div class="steps h-1/4">
                        <h2 class="rounded-full px-2 border-white border-2">1</h2>
                        <p class="steps-p ml-4 pr-3">Destination Information</p>
                    </div>
                    <div class="steps h-1/4">
                        <h2 class="rounded-full px-2 border-white border-2">2</h2>
                        <p class="steps-p ml-4">Flights Information</p>
                    </div>
                    <div class="steps  h-1/4">
                        <h2 class="rounded-full px-2 border-white border-2">3</h2>
                        <p class="steps-p ml-4">Seat Selection</p>
                    </div>
                    <div class="steps  h-1/4">
                        <h2 class="rounded-full px-2 border-white border-2">4</h2>
                        <p class="steps-p ml-4">Summary</p>
                    </div>
                </div>
                <div class="overflow-x-auto flex w-3/4">
                    <form action="" class="form-grid w-full" method="POST">
                        {% csrf_token %}
                        <div class="col-span-2 -mt-6 font-bold text-2xl font-serif">
                            Destination Information
                        </div>
                        <div class="form-input-container">
                            <label for="departure" class="form-input-label">Departure City</label>
                            <input type="text" id="departure" name="departure_city"
                                class="form-input px-2 py-1 bg-slate-200 shadow-md active:border-none"
                                placeholder="Enter Departure City" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="destination" class="form-input-label">Destination City</label>
                            <input type="text" id="destination" name="destination_city" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                                placeholder="Enter Destination City" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="departure-date" class="form-input-label">Departure Date</label>
                            <input type="date" id="departure-date" name="departure_date" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                                placeholder="Enter Article Source" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="flight-service" class="form-input-label">Airline Service</label>
                            <input type="text" id="flight-service" name="airline_service" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                                placeholder="Select Airline Service" autocomplete="off" required>
                        </div>
                        <button type="submit"
                            class="form-input-submit col-span-2 mt-3 bg-slate-500 py-1 shadow-2xl text-white hover:text-black font-medium">Search</button>
                    </form>
                </div>
                <!-- <div class="overflow-x-auto flex w-3/4 py-4">
                    <div class="bg-white border border-gray-200 rounded-lg shadow mx-1 min-w-self">
                        <img class="rounded-t-lg h-48 w-full" src="{% static 'pia.jpg' %}" alt="" />
                        <div class="p-5">
                            <div>
                                <h5 class="text-2xl min-h-self font-bold tracking-tight text-gray-900">
                                    Pakistan International Airlines
                                </h5>
                            </div>
                            <div class="font-normal text-gray-700">
                                <h5><span class="font-bold">Departure City: </span>Lahore</h5>
                                <h5><span class="font-bold">Destination City: </span>Islamabad</h5>
                                <h5><span class="font-bold">Departure Time: </span>13:00</h5>
                                <h5><span class="font-bold">Arrvial Time: </span>15:00</h5>
                                <h5><span class="font-bold">Travel Duration: </span>2 hours</h5>
                            </div>
                            <div class="flex justify-between">
                                <button class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center
                                    text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    Select
                                </button>
                                <button
                                    class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    $200
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border border-gray-200 rounded-lg shadow mx-1 min-w-self">
                        <img class="rounded-t-lg h-48" src="{% static 'airsial.jpeg' %}" alt="" />
                        <div class="p-5 flex flex-col">
                            <div>
                                <h5 class="text-2xl min-h-self font-bold tracking-tight text-gray-900">
                                    AirSial
                                </h5>
                            </div>
                            <div class="font-normal text-gray-700">
                                <h5><span class="font-bold">Departure City: </span>Lahore</h5>
                                <h5><span class="font-bold">Destination City: </span>Islamabad</h5>
                                <h5><span class="font-bold">Departure Time: </span>13:00</h5>
                                <h5><span class="font-bold">Arrvial Time: </span>15:00</h5>
                                <h5><span class="font-bold">Travel Duration: </span>2 hours</h5>
                            </div>
                            <div class="flex justify-between">
                                <button class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center
                                    text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    Select
                                </button>
                                <button
                                    class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    $200
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border border-gray-200 rounded-lg shadow mx-1 min-w-self">
                        <img class="rounded-t-lg h-48" src="{% static 'airblue.jpeg' %}" alt="Plane Pic" />
                        <div class="p-5">
                            <div>
                                <h5 class="text-2xl min-h-self font-bold tracking-tight text-gray-900">
                                    AirBlue
                                </h5>
                            </div>
                            <div class="font-normal text-gray-700">
                                <h5><span class="font-bold">Departure City: </span>Lahore</h5>
                                <h5><span class="font-bold">Destination City: </span>Islamabad</h5>
                                <h5><span class="font-bold">Departure Time: </span>13:00</h5>
                                <h5><span class="font-bold">Arrvial Time: </span>15:00</h5>
                                <h5><span class="font-bold">Travel Duration: </span>2 hours</h5>
                            </div>
                            <div class="flex justify-between">
                                <button class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center
                                    text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    Select
                                </button>
                                <button
                                    class="inline-flex items-center mt-2 px-3 py-2 text font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                                    $200
                                </button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="overflow-x-auto flex w-3/4 py-4">
                    <div class="bg-black bg-opacity-30 w-full rounded-xl">
                        <div class="grid grid-rows-4 grid-flow-col gap-2 text-center px-3 py-3 w-full h-full">
                            <div class="bg-slate-300 seat rounded-full">1</div>
                            <div class="bg-slate-300 rounded-full">2</div>
                            <div class="bg-slate-300 rounded-full">3</div>
                            <div class="bg-slate-300 rounded-full">4</div>
                            <div class="bg-slate-300 rounded-full">5</div>
                            <div class="bg-slate-300 rounded-full">6</div>
                            <div class="bg-slate-300 rounded-full">7</div>
                            <div class="bg-slate-300 rounded-full">8</div>
                            <div class="bg-slate-300 rounded-full">9</div>
                            <div class="bg-slate-300 rounded-full">10</div>
                            <div class="bg-slate-300 rounded-full">11</div>
                            <div class="bg-slate-300 rounded-full">12</div>
                            <div class="bg-slate-300 rounded-full">13</div>
                            <div class="bg-slate-300 rounded-full">14</div>
                            <div class="bg-slate-300 rounded-full">15</div>
                            <div class="bg-slate-300 rounded-full">16</div>
                            <div class="bg-slate-300 rounded-full">17</div>
                            <div class="bg-slate-300 rounded-full">18</div>
                            <div class="bg-slate-300 rounded-full">19</div>
                            <div class="bg-slate-300 rounded-full">20</div>
                            <div class="bg-slate-300 rounded-full">21</div>
                            <div class="bg-slate-300 rounded-full">22</div>
                            <div class="bg-slate-300 rounded-full">23</div>
                            <div class="bg-slate-300 rounded-full">24</div>
                            <div class="bg-slate-300 rounded-full">25</div>
                            <div class="bg-slate-300 rounded-full">26</div>
                            <div class="bg-slate-300 rounded-full">27</div>
                            <div class="bg-slate-300 rounded-full">28</div>
                            <div class="bg-slate-300 rounded-full">29</div>
                            <div class="bg-slate-300 rounded-full">30</div>
                            <div class="bg-slate-300 rounded-full">31</div>
                            <div class="bg-slate-300 rounded-full">32</div>
                            <div class="bg-slate-300 rounded-full">33</div>
                            <div class="bg-slate-300 rounded-full">34</div>
                            <div class="bg-slate-300 rounded-full">35</div>
                            <div class="bg-slate-300 rounded-full">36</div>
                            <div class="bg-slate-300 rounded-full">37</div>
                            <div class="bg-slate-300 rounded-full">38</div>
                            <div class="bg-slate-300 rounded-full">39</div>
                            <div class="bg-slate-300 rounded-full">40</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="overflow-x-auto flex w-3/4 py-4">
                </div> -->

            </div>
        </div>
    </div>

    </div>
    <div>
        <div class="flex text-4xl mt-16 justify-center items-center font-extrabold text-gray-100 mb-5">
            <h1 class="bg-black bg-opacity-60 px-4 py-2 pb-4 shadow-2xl ">Popular Airline Services in Pakistan</h1>
        </div>
        <div class="flex justify-center items-center h-full">
            <div class="grid grid-cols-3 gap-8 px-6 w-3/4">
                <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                    <a href="">
                        <img src="{% static 'pia.jpg' %}" alt="Image 1" class="w-full h-auto">
                        <div
                            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                            <div
                                class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                <p>PIA</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                    <a href="">
                        <img src="{% static 'airsial.jpeg' %}" alt="Image 1" class="h-56">
                        <div
                            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                            <div
                                class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                <p>AirSial</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                    <a href="">
                        <img src="{% static 'airblue.jpeg' %}" alt="Image 1" class="h-56">
                        <div
                            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                            <div
                                class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                <p>AirBlue</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-black bg-opacity-70 text-slate-200 py-4 mt-5 flex justify-center items-center font-mono">
        <a href="" class="cursor-pointer">Jet-Set Journey</a>
    </footer>

</body>

</html>

{% endblock body %}
