{% block body %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Base</title>
</head>

<body class="bg-img-hotel bg-img bg-cover bg-bottom">
    <div class="bg-black bg-opacity-30">
        <header
            class="bg-gradient-to-b from-slate-100 via-white to-transparent opacity-90 text-xl font-serif font-bold -mt-7">
            <nav class="mx-auto flex max-w-7xl items-center justify-between px-2 pt-2  lg:px-8" aria-label="Global">
                <div class="-mb-4">
                    <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Your Company</span>
                        <img class="h-20 w-auto" src="{% static 'logo2.png' %}" alt="">
                    </a>
                </div>
                <div class="pt-4">
                    <ul class="flex justify-around items-center px-4">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'search' %}">Hotels</a></li>
                        <li><a href="{% url 'search_flights'%}">Flights</a></li>
                        <li><a href="">Bus</a></li>
                        <li><a href="">Popular Destinations</a></li>
                        <li><a href="">About Us</a></li>
                    </ul>
                </div>
                <div class="pt-4">
                    Account
                </div>
            </nav>
        </header>
        <div class="flex text-4xl justify-center items-center h-56 text-white font-extrabold">
            <h1 class="">
                Travel the World with Jet-Set Journey
            </h1>
        </div>
        <div class="flex items-center justify-center flex-col">
            <h4 class=" text-white text-center mb-4 font-black text-3xl">Choose Your Destination City</h4>
            <form action="" class="bg-white px-10 py-6 rounded-md shadow-2xl form-grid w-2/4" method="POST">
                {% csrf_token %}
                <div class="form-input-container">
                    <label for="destination" class="form-input-label">Destination City</label>
                    <input type="text" id="destination" name="city_country" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                        placeholder="Enter Destination City" autocomplete="off" required>
                </div>
                <div class="form-input-container">
                    <label for="number-of-adults" class="form-input-label">Number of Adults</label>
                    <input type="text" id="number-of-adults" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                        placeholder="eg: 2 Adults" autocomplete="off" required>
                </div>
                <div class="form-input-container">
                    <label for="check-in-date" class="form-input-label">Check-In Date</label>
                    <input type="date" id="check-in-date", name="check_in_date" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                        placeholder="" autocomplete="off" required>
                </div>
                <div class="form-input-container">
                    <label for="check-out-date" class="form-input-label">Check-Out Date</label>
                    <input type="date" id="check-out-date" name="check_out_date" class="form-input px-2 py-1 bg-slate-200 shadow-md"
                        placeholder="" autocomplete="off" required>
                </div>
                <button type="submit"
                    class="form-input-submit col-span-2 mt-3 bg-slate-500 py-1 shadow-2xl text-white hover:text-black font-medium">Search</button>
            </form>
        </div>
        <div>
            <div class="flex text-4xl mt-16 justify-center items-center font-extrabold text-gray-100 mb-5">
                <h1 class="bg-black bg-opacity-60 px-4 py-2 pb-4 shadow-2xl ">Popular Airline Services in Pakistan</h1>
            </div>
            <div class="flex justify-center items-center h-full">
                <div class="grid grid-cols-3 gap-8 px-6 w-3/4">
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="{% static 'img-1.jpg' %}" alt="Image 1" class="w-full h-auto">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>PIA</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="{% static 'img-2.jpg' %}" alt="Image 1" class="w-full h-auto">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>AirSial</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="relative group hover:scale-105 transition-all duration-300 cursor-point">
                        <a href="">
                            <img src="{% static 'img-3.jpg' %}" alt="Image 1" class="w-full h-auto">
                            <div
                                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                <div
                                    class="text-white text-center text-xl bg-black px-5 py-2 bg-opacity-80 rounded-xl shadow-xl">
                                    <p>AirBlue</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-black bg-opacity-70 text-slate-200 py-4 mt-5 flex justify-center items-center font-mono">
            <a href="" class="cursor-pointer">Jet-Set Journey</a>
        </footer>

</body>

</html>
{% endblock body %}
