{% extends "flow.html" %}

{% block title %}Buses from {{ departure_city }} to {{ destination_city }}{% endblock %}
{% block body_class %}bg-img-bus{% endblock %}

{% block steps %}{% include "_steps.html" with kind="bus" current=2 %}{% endblock %}

{% block panel %}
{% include "trips/_results.html" with trips=buses label="bus" label_plural="buses" search_url="search_buses" seat_url="bus_seat_selection" button_class="btn-bus" %}
{% endblock %}

{% block popular %}{% include "_tiles.html" with heading="Popular Bus Services in Pakistan" tiles=popular.buses %}{% endblock %}
