{% extends "flow.html" %}

{% block title %}Flights from {{ departure_city }} to {{ destination_city }}{% endblock %}
{% block body_class %}bg-img-flight{% endblock %}

{% block steps %}{% include "_steps.html" with kind="flight" current=2 %}{% endblock %}

{% block panel %}
{% include "trips/_results.html" with trips=flights label="flight" label_plural="flights" search_url="search_flights" seat_url="plane_seat_selection" button_class="btn-flight" %}
{% endblock %}

{% block popular %}{% include "_tiles.html" with heading="Popular Airlines in Pakistan" tiles=popular.airlines %}{% endblock %}
