{% extends "flow.html" %}

{% block title %}Find a Flight{% endblock %}
{% block body_class %}bg-img-flight{% endblock %}

{% block steps %}{% include "_steps.html" with kind="flight" current=1 %}{% endblock %}

{% block panel %}
{% include "trips/_search_form.html" with service_name="airline_service" service_label="Airline" button_class="btn-flight" %}
{% endblock %}

{% block popular %}{% include "_tiles.html" with heading="Popular Airlines in Pakistan" tiles=popular.airlines %}{% endblock %}
